{% extends 'base.html.twig' %}

{% block title %}Hello PublicAdvertController!{% endblock %}

{% block body %}
        <div id="advert-list">
                    {{ include("public_advert/advert.html.twig", { public_adverts:public_adverts }) }}
        </div>
        <div class="row text-center justify-content-center pt-2">
            <button type="button" id="load-more" class="btn btn-dark"> Voir Plus
                <i class="fa fa-spin fa-spinner"> </i>
            </button>
        </div>

{% endblock %}
