{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col-6  mx-auto">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for advert in publicAdverts %}
                        <div class="carousel-item {% if loop.first %} active {% endif %}">
                            <img class="d-block w-100" src="{{ asset(images_directory~advert.car.picture1) }}" alt="First slide" id="advertHome">
                            <div class="carousel-caption d-none d-md-block" id="descriptionAdvert">
                                <h5>{{ advert.titre }}</h5>
                                <p>{{ advert.description | raw }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

{% endblock %}
