<p>Bonjour {{userName}},</p>

<p>Nous avons le plaisir de confirmer votre location pour la voiture de {{loueurName}},</p>
<p>veuillez prendre contact avec lui afin de régler les modalités de la location.</p>

<p>Cordialement,</p>
<p>l'équipe RentalCarProject</p>
