<p>Bonjour {{userName}},</p>

<p>Nous avons le plaisir de vous confirmer que votre voiture {{carName}} à bien été louer par le cient {{customerName}},</p>

<p>Celui-ci devrait prendre contact avec vous prochainement afin de convenir d'une date de location.</p>

<p>Cordialement,</p>

<p>l'équipe RentalCarProject</p>
